node_modules/
db_data/
db_data/*
server/
.idea/
*.log
.vscode/
*.sw*
db_data/auto.cnf
db_data/auto.cnf
db_data/ib_buffer_pool
db_data/auto.cnf
.idea/workspace.xml
.idea/workspace.xml
db_data/ibdata1
db_data/ib_logfile0
.idea/workspace.xml
.idea/workspace.xml
db_data/ibdata1
db_data/*
