@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 90%;
  position: relative;
}

.h1-section {
  font-size: 4em;
}

p {
  font-size: 1em;
}

main #form-register {
  background-color: #32F4FF;
  height: calc(100vh - 80px);
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #form-register .container {
  background-color: #FFF;
  width: 40%;
  height: 100%;
}

main #form-register .container h1 {
  letter-spacing: 2px;
  text-align: center;
}

main #form-register .container > div {
  width: 80%;
  margin: auto;
}

main #form-register .container > div div p {
  width: 80%;
}

main #form-register .container > div div p input {
  margin-top: inherit;
}

main #form-register .container > div > p {
  text-align: center;
}

main #form-login {
  background-color: #32F4FF;
  height: calc(100vh - 80px);
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #form-login .container {
  background-color: #FFF;
  width: 40%;
  height: 100%;
}

main #form-login .container h1 {
  letter-spacing: 2px;
  text-align: center;
}

main #form-login .container div {
  margin: auto;
  width: 80%;
}

main #form-login .container div > p {
  text-align: center;
  margin: 0px;
}

main #form-contact {
  background-color: #562135;
  height: 100vh;
  padding: 5vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #form-contact .container {
  background-color: #FFF;
  width: 60%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #form-contact .container h1 {
  letter-spacing: 2px;
}

main #form-contact .container div {
  margin: auto;
  width: 80%;
}

main #form-contact .container div > p {
  margin: 0px;
}

main form {
  word-wrap: break-word;
  min-height: 100%;
}

main form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

main form div :last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main form div p {
  width: 40%;
  margin-bottom: 12px;
}

.content {
  height: 100px;
  width: 100%;
}

#site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#site-header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#site-header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

#site-header .container nav ul li a {
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #000;
}

#site-footer {
  background-color: #000;
  height: 100px;
}

#site-footer .container {
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#site-footer .container div {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#site-footer .container div div {
  background-color: #FFF;
  height: 60px;
  width: 60px;
  border-radius: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#site-footer .container div div img {
  height: 50px;
  width: 50px;
}

main #hero {
  background-color: #32F4FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1040px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #hero .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #about-us {
  background-color: #FF66C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #about-us .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #about-us .container div {
  background-color: #562135;
  height: 38.125em;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main #about-us .container div p {
  color: #FFF;
  font-size: 1.5em;
}

main #features {
  background-color: #FFF;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #features .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #features .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

main #features .container article div {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

main #features .container article img {
  height: 280px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

main #features .container article p {
  margin: 1px;
  font-size: 1em;
}

.cta-button {
  width: 21em;
  height: 4.875em;
  border: none;
}

.cta-button--white {
  background-color: #FFF;
}

.cta-button--pink {
  background-color: #FF66C4;
}

form .ipt-form-entry {
  outline: none;
  display: block;
  width: 100%;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
  font-size: inherit;
  line-height: inherit;
}

form input[type=submit] {
  width: 100%;
  background-color: #FF66C4;
  border-radius: 0%;
  border: 0px;
  color: #FFF;
  padding: 15px;
  font-weight: bold;
}

form input[type=textarea] {
  word-wrap: break-word;
  height: 100px;
}
/*# sourceMappingURL=main.css.map */