*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: $font1;
}

.container{
  // padding : 0 30px;
  display : flex;
  margin: auto;
  max-width: 90%;
  position: relative;
}

.h1-section {
  font-size: 4em;
}

p {
  // font-size : 1.5em;
  font-size : 1em;
}


