*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: $font1;
}

/* .container{
  // padding : 0 30px;
  display : flex;

 
} */

.container {
  display: flex;
}

.h1-section {
  font-size: 4em;
}

.h1-simple{
  font-size: 2em;
}


p {
  // font-size : 1.5em;
  font-size : 1.5em;
}

.link-article {
  font-size: 1.5em;
  color: $black;
  font-weight: bold;
}



