*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: $font1;
  height: 100%; ///// 
}

#body-back{
  display: flex;
}

.container-fluid{
  margin: auto;
  max-width: 90%;
  position: relative;
}

.container {
  display: flex;
}

.h1-section {
  font-size: 4em;
}

.h1-simple{
  font-size: 2em;
}

.h1-section-back{
  font-size: 2.5em;
}

img{
  object-fit: cover;
}

#main-front{
  & p {
    font-size : 1.5em;
  }
}

.photo-profil{
  object-fit: contain;
}

.icon{
  width: 2.5em;
  height: 2.5em;
}

.show{
  visibility: visible;
}

.flex-row{
  display: flex;
  &-center{
    justify-content: center;
  }

}


.flex-col{
  display: flex;
  flex-direction:column ;
  &-center{
    justify-content: center;
  }
}

.center-text{
  text-align: center;
}

@mixin object-bg($bg) {
  background-color: $bg;
  &:hover {
    background-color:lighten($bg,10%);
    transition: all 0.3s ease;
  }
  &:active {
    background-color:lighten($bg,25%);
  } 
}