.grid{
    overflow: hidden;
    &-article-elmt{
      height: 225px;
    }
    &-article-article{
      height: 250px;
    }
    &-page-page{
      height: 250px;
    }
    &-commentaire-commentaire{
      height: 250px;
    }
    &-medias-medias{
      height: 250px;
    }
    &-rounded{
      background-color: $white;
      border-radius: 15px;
    }
}
  
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  
  .col{
    padding: 15px;
    $columns:12;
    @for $i from 1 through $columns {
      &-md-#{$i} {
        width: ((100 / $columns) * $i) * 1%;
      }
    }
  }
  
  @media (max-width: $small-screen) {
    .col{
      $columns:12;
      @for $i from 1 through $columns {
        &-sm-#{$i} {
          width: ((100 / $columns) * $i) * 1%;
        }
      }
    }
  
  }
  
  @media (min-width: $large-screen) {
    .col{
      $columns:12;
      @for $i from 1 through $columns {
        &-#{$i} {
          width: ((100 / $columns) * $i) * 1%;
        }
      }
    }
  }

// .col {
//   padding: calc($gutter/2);
//   $columns: 12;
//   @for $i from 1 through $columns {
//     &-#{$i} {
//       width: calc(((100 / $columns) * $i) * 1%);
//     }
//     @media (max-width: $extra-small-screen) {
//       &-xs-#{$i} {
//         width: calc(((100 / $columns) * $i) * 1%);
//       }
//     }
//     @media (min-width: $small-screen) {
//       &-sm-#{$i} {
//         width: calc(((100 / $columns) * $i) * 1%);
//       }
//     }
//     @media (min-width: $medium-screen) {
//       &-md-#{$i} {
//         width: calc(((100 / $columns) * $i) * 1%);
//       }
//     }
//     @media (min-width: $large-screen) {
//       &-lg-#{$i} {
//         width: calc(((100 / $columns) * $i) * 1%);
//       }
//     }
//     @media (min-width: $extra-large-screen) {
//       &-xl-#{$i} {
//         width: calc(((100 / $columns) * $i) * 1%);
//       }
//     }
//     @media (min-width: $extra-extra-large-screen) {
//       &-xxl-#{$i} {
//         width: calc(((100 / $columns) * $i) * 1%);
//       }
//     }
//   }
// }