.grid{
  overflow: hidden;
  &-back{
    height: 100%;
    width: 100%;
    position: absolute;
  }
  &-article-elmt{
    height: 225px;
  }
  &-article-article{
    height: 250px;
  }
  &-page-page{
    height: 250px;
  }
  &-commentaire-commentaire{
    height: 250px;
  }
  &-rounded{
    background-color: $white;
    border-radius: 15px;
  }
}
  
.row{
  display: flex;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-wrap: wrap;
}



.col{
  padding: 15px;
  $columns:12;
  @for $i from 1 through $columns {
    &-md-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
    };
    &-md-offset-#{$i}{
      margin-left: ((100 / $columns) * $i) * 1%;
    }
  }
  &-rounded{
    background-color: $white;
    border-radius: 15px;
  }
}

@media (max-width: $small-screen) {
  .col{
    $columns:12;
    @for $i from 1 through $columns {
      &-sm-#{$i} {
        width: ((100 / $columns) * $i) * 1%;
      };
      &-sm-offset-#{$i}{
        margin-left: ((100 / $columns) * $i) * 1%;
      };
    }
  }
}

@media (min-width: $large-screen) {
  .col{
    $columns:12;
    @for $i from 1 through $columns {
      &-#{$i} {
        width: ((100 / $columns) * $i) * 1%;
      };
      &-offset-#{$i}{
        margin-left: ((100 / $columns) * $i) * 1%;
      };
    }
  }
}