.grid{
  overflow: hidden;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.col{
  height: 100px;
  padding: 15px;
  $columns:12;
  @for $i from 1 through $columns {
    &-md-#{$i} {
      width: ((100 / $columns) * $i) * 1%;
    }
  }
}

@media (max-width: $small-screen) {
  .col{
    $columns:12;
    @for $i from 1 through $columns {
      &-sm-#{$i} {
        width: ((100 / $columns) * $i) * 1%;
      }
    }
  }

}

@media (min-width: $large-screen) {
  .col{
    $columns:12;
    @for $i from 1 through $columns {
      &-#{$i} {
        width: ((100 / $columns) * $i) * 1%;
      }
    }
  }
}