

header{
    background-color: $nightblue;
}

.relative{
    width: 80%;
    margin: auto;
    .item-article{
        display: flex;
        align-items: flex-start;
        margin-bottom: 5%;
        .content-box{
            padding: 0 5%;
            h2{
                margin:0 0 5% 0;
                
            }
            p{
                margin:0 0 5% 0;
            }
            img{
                width: 150px;
                height: 150px;
            }
            .titre {
                text-decoration: none;

            }

        }
        
    }
    
}

.item-comment{
    padding: 3% 0;

    input{
        margin-bottom: 2%;
    }
    .textarea-comments{
        min-height: 150px;
        width: 100%;
    }
    .button-comment{
        align-items: center;
        padding: 9px 16px;
    }
}