.sk-table {
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 2px solid #ddd;
    background-color: $nightblue;
}

thead tr {
    background-color: $nightblue;
    color: $white;
    text-align: left;
}

th, td {
    padding: 15px 20px;
}

tbody tr, td, th {
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:nth-child(odd) {
    background-color: $white;
}

tbody tr:last-of-type {
    border-bottom: 2px solid $nightblue;
}