// <c<ouleur du site
$white: #FFF;
$black:#000;
$pink: #FF66C4;
$blue: #32F4FF;
$purple: #562135;
$gray: gray;
$nightblue: #0F056B;
$nightblueHover: #1B0D96;
$skygrey: #F4F4F4;

// Taille grid
$gutter:15px;
$extra-small-screen:575px;
$small-screen:576px;
$medium-screen:768px;
$large-screen:992px;
$extra-large-screen:1200px;
$extra-extra-large-screen:1400px;
$header-size:80px;