// COULEUR DU SITE
$white: #FFF;
$black:#000;
$pink: #FF66C4;
$blue: #32F4FF;
$purple: #562135;

// Taille
$gutter:30px;
$extra-small-screen:575px;
$small-screen:576px;
$medium-screen:768px;
$large-screen:992px;
$extra-large-screen:1200px;
$extra-extra-large-screen:1400px;
