// COULEUR
$white: #FFF;
$black:#000;
$grey: #AAA;
$light-grey: #F2F2F2;
$dark-grey: #444;
$red: #ce0a0a;
$green: #31aa66;
$purple: purple;
$yellow: yellow;
$blue: blue;

// Taille
$gutter:30px;
$extra-small-screen:575px;
$small-screen:576px;
$medium-screen:768px;
$large-screen:992px;
$extra-large-screen:1200px;
$extra-extra-large-screen:1400px;
