RewriteEngine On 
RewriteBase /

RewriteRule ^article-add/(.*)$ article-add?Slug=$1
RewriteRule ^article-add/([0-9]+)$ article-read?id=$1

RewriteRule ^page-add/([0-9]+)$ page-read?id=$1
RewriteRule ^page-add/(.*)$ page-add?Slug=$1

RewriteRule ^post/(.*)$ post?Slug=$1
RewriteRule ^post/([0-9]+)$ post?id=$1

RewriteRule ^page/(.*)$ page?Slug=$1
RewriteRule ^page/([0-9]+)$ page?id=$1


RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ index.php

