// .cta-button {
//     // display: block;
//     color: grey;
//     padding:5px 10px;
//     font-size: 1em;
//     &--rounded{
//         border-radius: 5px;
//         border: 0px;
//     }
// }

@mixin button-bg($bg) {
    background: $bg;
    &:hover {
      background:lighten($bg,10%);
      transition: all 0.3s ease;
    }
    &:active {
      background:lighten($bg,25%);
    } 
  }

.cta-button {
    text-decoration:none;
    padding:5px 10px;
    border-radius:3px;
    font-size:1em;
    border: 0px;
    font-weight: bold;
}

.btn{
    &--edit {
        color: $white;
        @include button-bg($pink);
    }

    &--action {
        color: $white;
        @include button-bg($pink);
        border-radius: 15px;
    }

    &--elmt{
        color: $pink;
        @include button-bg($white);
        border-radius: 5px;
        border: 1px solid $pink;
    }
}

@media screen and (max-width: 1280px) {
    #menu-button{
    
        z-index: 10;
        border: none;
        background-color: $white;
    }
    
    
    #menu-button::before{
        content: "";
        display: block;
        width: 5em;
        height: 30px;
        background-image: url("../img/Front/menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }
}

@media screen and (min-width: 1281px) {
    #menu-button{
    
        display: none;
    }
    
}

