.content{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  height: 100px;
  width: 100%;

  &--gray{
    background-color: $gray;
  }
  &--purple{
    background-color: $purple;
  }
  &--black{
    background-color: $black;
  }
  &--pink{
    background-color: $pink;
  }
  &--blue{
    background-color: $blue;
  }
}