.content{
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  width: 100%;

  &--blue{
    background-color: $nightblue;
    color: $white;
  }
  &--pink{
    background-color: $pink;
    color: $white;
  }
  &--black{
    background-color: $black;
    color: $white;
  }
  &--grey{
    background-color: $skygrey;
  }
}