.filter{
    font-weight: bold;
    font-size: 1em;
    width: fit-content;
    border-bottom: 0.5em solid transparent;
    padding-bottom: 0.5em;
    &:hover{
        border-bottom: 0.5em solid $pink;
        color: $pink;
    }
}

.selected{
    border-bottom: 0.5em solid $pink;
    color: $pink;
}