main{
    & #form-register{
        background-color: $blue;
        height: calc(100vh - 80px);
        padding: 5vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
        & .container {
            background-color: $white;
            width: 40%;
            height: 100%;
            h1{
                letter-spacing: 2px;
                text-align: center;
            }
            & > div{
                width: 80%;
                margin: auto;
                & div p{
                    width: 80%;
                    & input{
                        margin-top: inherit;
                    }
                }
                & > p{
                    text-align: center;
                }
            }
        }
    }

    & #form-login{
        background-color: $blue;
        height: calc(100vh - 80px);
        padding: 5vh 0;
        display: flex;
        align-items: center;
        justify-content: center;
        & .container {
            background-color: $white;
            width: 40%;
            height: 100%;
            h1{
                letter-spacing: 2px;
                text-align: center;
            }
            & div{
                margin: auto;
                width: 80%;
                & >p{
                    text-align: center;
                    margin: 0px;
                }
            }
        }
    }

    & #form-contact{
        background-color: $purple;
        height: 120vh;
        padding: 3em 0;
        display: flex;
        align-items: center;
        justify-content: center;
        & .container {
            background-color: $white;
            width: 50%;
            height: 90%;
            align-items: center;
            justify-content: center;
        }
    }


}