#site-header {
    height: 7em;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;


    & .container {
        height: 7em;
        width: 100%;
        background-color: $white;
        justify-content: space-around;
        align-items: center;

        & nav{
        display: flex;
        align-items: center;
            & ul{
                display: flex;
                list-style: none;
                margin: 0;
                padding: 0;
                
                
                & li a {
                    padding: 1em;
                    display: block;
                    text-decoration: none;
                    color: $black;
                    font-size: 1.5em;
                    border-bottom: 7px solid transparent;
            

                }

                & li > a:hover {
                    border-bottom: 7px solid $pink;
                }

                & li button {
                    margin-top: 0.5em;
                    border: none;
                    background-color: $pink;

                    & a {
                        color: $white;
                        font-weight: bold;
                    }
                }

            }
        } 
    }

    @media screen and (max-width: 1280px) {
        #menu-button, .logo-site{
            z-index: 20;
        }
        #menu-button{
            transition-duration: 0.3s;
            transform: translateX(0px);
        }
        #main-nav {
            // display: none;
            position: fixed;
            top: 0;
            left: 100%;
            width: 100%;
            height: 101vh;
            background-color: #FFF;
            transition: left 1s;
            justify-content: center;
            & ul{
                z-index: 20;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    
}

.visible{
    left: 0% !important;
}


#main-nav-back {
    display: flex;
    flex-direction: column;
    background-color: $nightblue;
    width: 20em;
    height: 100vh;
    align-items: center;

    & img:first-child {
        width: 5em;
        // margin-bottom: 1.5em;
    }

    & .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        color: $white;
        font-weight: bold;


        & ul:first-child {
            padding: 0;
            list-style: none;
            width: 80%;
            display: flex;
            flex-direction: column;
            & img{
                width: 3em;
                margin-right: 2em;
            }
            & li{
                display: flex;
                align-items: center;
                margin-bottom: 1.5em;
                
            }
        }

        & ul:last-child {
            padding: 0;
            list-style: none;
            width: 80%;

            & img{
                width: 2em;
                margin-right: 2em;
            }
            & li{
                display: flex;
                align-items: center;
                margin-bottom: 1.5em;
                
            }
        }
        

    }

}

#header-back{
    display: flex;
    align-items: center;
    height: 75px;
    background-color: $nightblue;
    position: relative;
    color: $white;
    & :first-child{
        display: flex;
        align-items: center;
        & .dropdownSite {
            float: left;
            overflow: hidden;
            height: 100%;
        }
        & button{
            font-size: 24px;
        }
        & .dropbtnSite{
            display: flex;
            justify-content: space-around;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
        }
          
        & .dropdownSite .dropbtnSite {
            width: 100%;
            cursor: pointer;
            font-size: 16px;  
            border: none;
            outline: none;
            color: white;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
          }
          
        & .dropdownSite-content {
            display: none;
            position: absolute;
            top: 80px;
            border-radius: 7px;
            background-color: $nightblue;
            color: $white;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
        & .dropdownSite-content a {
            float: none;
            color: $white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
        & .dropdownSite-content a:hover {
            @include object-bg($nightblue);
          }
          
        & .show {
            display: block;
          }
    }
    & .helpLink{
        display: flex;
        align-items: center;
        & p{
            margin-right: 50px;
        }
        & a{
            color: $white;
            text-decoration: none;
            font-weight: bold;
            font-size: x-large;
        }
    }
    & .newSiteLink{
        display: flex;
        align-items: center;
    }

    & .notificationLink{
        display: flex;
        align-items: center;
    }

    & :last-child{
        display: flex;
        align-items: center;
        & .dropdownMenu {
            float: left;
            overflow: hidden;
            height: 100%;
          }
          
        & .dropdownMenu .dropbtnMenu {
            cursor: pointer;
            font-size: 16px;  
            border: none;
            outline: none;
            color: white;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
          }
          
        & .dropdownMenu-content {
            display: none;
            position: absolute;
            top: 80px;
            border-radius: 7px;
            background-color: $nightblue;
            color: $white;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
        & .dropdownMenu-content a {
            float: none;
            color: $white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
        & .dropdownMenu-content a:hover {
            @include object-bg($nightblue);
          }
          
        & .show {
            display: block;
          }
        & #icon-profil{
            height: 25px;
            width: 25px;
        }
    }
    
}

#main-component{
    width: 100%;
}