form{   
    & .ipt-form-entry{
       /*  outline: none; */
        display: block;
        width: 100%;
        padding: 0.7em;
    }
    & input[type=textarea]{
        word-wrap: break-word;
        height: 8em;
    }
}
input[type="text" i]{
    height: 2em;
}