.box-notifications{
    margin-bottom: 5em;
}

.parameter-notifications{
    margin-bottom: -1em;
}


.switch_box {
    display: flex;
    max-width: 200px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
}

.switch_1 {
    font-size: 30px;
    appearance: none;
    width: 2.6em;
    height: 1em;
    background: red;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all .2s ease-in-out;
}

.switch_1:checked {
    background: green;
}

.switch_1:after {
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: #fff;
    transform: scale(.7);
    left: 0;
    transition: all .2s ease-in-out;
}

.switch_1:checked:after {
    left: calc(100% - 1em);
}