.bloc-statistiques{
    margin-right: 5%;
    width: 10%;
    
   & .data-statistiques{
        display: flex;
        flex-flow: column;
        align-items: center;

        & img{
            width: 50px;
            height: 50px;
        }
    } 
    
}

.box-statistiques{
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: grey;
    
}


.statistique-case{
    align-items: center;
}

.case-selected{
    background-color: #f4f4f4;
    border-left: solid;
    border-top: solid;
    border-width: 1px;
    border-color: grey;
}