.header-container {
    position : absolute;
    display : flex;
    flex-direction: row;
    height: auto;
    width: auto;
    left : 50%;
    top : 0%
  }
  body{
    background-color: #ECE9FF;

  }
  .header-mobile{
    display : none;
  }
  .header-container > span {
    font-size: 30px;
    padding-right: 15px;
    padding-top : 10px;
  }  

  .menu-article {
    position : absolute;
    display : flex;
    justify-content: space-around;
    flex-direction: row;
    height: auto;
    width: 50%;
    left : 30%;
    top : 20%;
    flew-wrap:wrap;
  }
#click{
  font-size : 20px;
}
  #click:hover{
    cursor : pointer;
    font-weight : bold;
  }

  .centre {
    display : flex;
  }
  .centre > span {
    margin-right : 5px;
  }
  .centre > img {
    padding-bottom : 16px;
  }
  .container-article {
    position : absolute;
    display : flex;
    flex-wrap : wrap;
    width: 70%;
    left : 25%;
    top :30%;
    background-color: #ECE9FF;
    margin-left : 30px;


  }
  .articles {
    cursor : pointer;
    position : relative;
    margin : 0 5px 5px 0;
    width : auto;
    height: auto;
    display : flex;
  }
 .articles  .article-bas:hover{
  background-color : #e4692e;
 }
  .article-bas {
    transition : all 0.2s;
    background-color: #cdc5f9;
    height: 100px;
    width : 200px;
    border-top-right-radius : 10px;
    border-bottom-right-radius : 10px;
    display : flex;
    flex-direction: column;
    flex-direction : column;
    justify-content : center;
  } 

.date{
  font-size : 10px;
}

.title{
  font-size : 15px;
  padding : 23px 0 5px 0;
  font-weight : bold;
}


@media screen and (max-width : 1100px) {
  .container-article{
    top : 35%;
    left : 36%;
    width : 60%;
  }
  .menu-article{
    left : 35%;
  }
}

@media screen and (max-width : 940px) {
  .container-article{
    top : 40%;
    left : 45%;
    width : 50%;
  }
  .menu-article{
    width : 55%;
  }
}

@media screen and (max-width : 860px) {
  .container-article{
    left : 0px;
    margin-top : 35px
  }
  .menu-article{
    width : auto;
    left: 10%;
    top : 15%;
  }
  #click {
    font-size : 16px;
  }
}

