.button {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    left: 95%;
    top: 3%;
    cursor : pointer;
    z-index : 11;
  }
body{
  background-color : #ece9ff;
}
  .quitter {
    display : flex;
    margin-top : 5px;
  }
 
  .enregistrer{
    display : flex;
  }
  .button_style {
    border-radius: 5px;
    background-color: #bda7de;
    padding: 15px 20px 15px 20px;
    margin-left: 15px;
    border: none;
    cursor : pointer;
    transition : all 0.2s;
  }
  .button_style:hover {
    background-color : #FFB7C5
  }

  
  .title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /*** MENU ***/
  .menu {
    position: absolute;
    top: 15%;
    left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right : 5px;
    height: auto;
    width : auto;
  }
  
  .button-style {
    border-radius: 5px;
    background-color: #bda7de;
    padding: 15px 20px 15px 20px;
    border: none;
    cursor : pointer;
    transition : all 0.2s;
  }
  
  .edit {
    position: absolute;
    height: auto;
    width: auto;
    left: 43%;
    top: 33%;
  }
  
  .edit > button {
    position: absolute;
    top: 102%;
    display: none;
  }
  
  #close-text-area {
    display: none;
    top: -20%;
    left: 100%;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .modal-edit {
    background-color: #ece9ff;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: auto; /* Could be more or less, depending on screen size */
    height: auto;
    position: absolute;
    display : flex;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #ece9ff;
    display : flex;
    align-items: center;
    flex-direction : column;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    min-height: auto;
  }

  .modal-button{
    display : flex;
  }
  

  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 90%;
    top: 0%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .choix-police {
    /* position: absolute; */
    left: 53%;
    top: 12%;
    width : auto;
    height : 50%;
    display: flex;
    flex-direction : column;
    justify-content: space-between;
    margin-left : 5px;
    cursor : pointer;
  }

  .choix-police > button {
    border-radius: 5px;
    background-color: #bda7de;
    padding: 15px 20px 15px 20px;
    border: none;
    cursor : pointer;
    transition : all 0.2s;
  }

  .choix-police > button:hover {
    background-color : #FFB7C5
  }
  
  
  .choix-police > p {
    margin-left: 10px;
  }
  .bold {
    font-weight: bold;
  }
  .italic{
    font-style : italic;
  }
  
  .underline{
    text-decoration : underline;
  }
  
  .active{
    color : #FFB7C5;
    font-weight : bold;
  }
  
  .content{
    position : absolute;
    left : 27%; 
    top : 26%;
    width : 70%;
    height : auto;
  }
  
  .content > p:hover{
    font-weight : bold;
    color : blue;
    transition : all 0.3s;
    cursor : pointer;
  }
  
  @media screen and (max-width : 1200px){
    .content{
      left : 30%;
      width : 60%;
    }
  
  }
  @media screen and (max-width : 1000px){
    .content {
      left : 35%;
      width : 60%;
    }
    .button{
      flex-direction : column;
    }
  }
  
  @media screen and (max-width : 855px){
    .button {
      flex-direction : row;
      left : 80%;
    }
    .menu{
      left : 15%;
    }
    .content{
      left : 30%;
      top : 30%;
    }
    .modal-content{
      margin : 35% auto;
    }
    
  }

@media screen and (max-width : 580px) {
  .menu {
    left: 0%;
  }
}