@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Inter", sans-serif; }

/* .container{
  // padding : 0 30px;
  display : flex;

 
} */
.container {
  display: flex; }

.h1-section {
  font-size: 4em; }

.h1-simple {
  font-size: 2em; }

p {
  font-size: 1.5em; }

.link-article {
  font-size: 1.5em;
  color: #000;
  font-weight: bold; }

main #form-register {
  background-color: #32F4FF;
  height: calc(100vh - 80px);
  padding: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  main #form-register .container {
    background-color: #FFF;
    width: 40%;
    height: 100%; }
    main #form-register .container h1 {
      letter-spacing: 2px;
      text-align: center; }
    main #form-register .container > div {
      width: 80%;
      margin: auto; }
      main #form-register .container > div div p {
        width: 80%; }
        main #form-register .container > div div p input {
          margin-top: inherit; }
      main #form-register .container > div > p {
        text-align: center; }

main #form-login {
  background-color: #32F4FF;
  height: calc(100vh - 80px);
  padding: 5vh 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  main #form-login .container {
    background-color: #FFF;
    width: 40%;
    height: 100%; }
    main #form-login .container h1 {
      letter-spacing: 2px;
      text-align: center; }
    main #form-login .container div {
      margin: auto;
      width: 80%; }
      main #form-login .container div > p {
        text-align: center;
        margin: 0px; }

main #form-contact {
  background-color: #562135;
  height: 120vh;
  padding: 3em 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  main #form-contact .container {
    background-color: #FFF;
    width: 50%;
    height: 90%;
    align-items: center;
    justify-content: center; }

.content {
  height: 100px;
  width: 100%; }

#site-header {
  height: 7em;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%; }
  #site-header .container {
    height: 7em;
    width: 100%;
    background-color: #FFF;
    justify-content: space-around;
    align-items: center; }
    #site-header .container nav {
      display: flex;
      align-items: center; }
      #site-header .container nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0; }
        #site-header .container nav ul li a {
          padding: 1em;
          display: block;
          text-decoration: none;
          color: #000;
          font-size: 1.5em; }
        #site-header .container nav ul li > a:hover {
          border-bottom: 7px solid #FF66C4; }
        #site-header .container nav ul li button {
          margin-top: 0.5em;
          border: none;
          background-color: #FF66C4; }
          #site-header .container nav ul li button a {
            color: #FFF;
            font-weight: bold; }
  @media screen and (max-device-width: 1280px) {
    #site-header #main-nav {
      display: none; } }

#site-footer {
  background-color: #000;
  height: 6.25em; }

@media all and (max-device-width: 480px) {
  main #hero {
    width: auto;
    background-color: #32F4FF;
    height: 60em;
    display: flex;
    justify-content: center;
    align-items: center; }
    main #hero .container {
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      main #hero .container .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        main #hero .container .intro h1 {
          margin-bottom: 0.2em;
          font-size: 3.5em; }
        main #hero .container .intro p {
          margin-bottom: 2em; }
      main #hero .container .jotaro {
        height: 25em; }
  main #about-us {
    background-color: #FF66C4;
    justify-content: center;
    align-items: center;
    height: 70em;
    display: flex;
    padding-top: 20em;
    padding-bottom: 20em; }
    main #about-us .container {
      justify-content: center; }
      main #about-us .container div:first-child {
        background-color: #562135;
        color: #FFF;
        width: 40.5em;
        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 2em; }
        main #about-us .container div:first-child div:first-child {
          height: 20em; }
        main #about-us .container div:first-child img {
          width: 25em; }
        main #about-us .container div:first-child p {
          font-weight: bold; }
      main #about-us .container .conan {
        display: none; }
  main #features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    padding-top: 10em;
    padding-bottom: 10em;
    height: fit-content; }
    main #features .container {
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: start; }
      main #features .container article {
        display: flex;
        margin-bottom: 10em; }
        main #features .container article img {
          width: 39em;
          height: 32em;
          border: 1px solid #000; }
    main #features button {
      align-self: center; }
  main #form-contact {
    height: 80em; }
    main #form-contact .container {
      width: auto;
      padding: 5em; } }

@media all and (min-device-width: 481px) and (max-device-width: 1440px) {
  main #hero {
    width: auto;
    background-color: #32F4FF;
    height: 60em;
    display: flex;
    justify-content: center;
    align-items: center; }
    main #hero .container {
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      main #hero .container .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        main #hero .container .intro h1 {
          margin-bottom: 0.2em;
          font-size: 3.5em; }
        main #hero .container .intro p {
          margin-bottom: 2em; }
      main #hero .container .jotaro {
        height: 25em; }
  main #about-us {
    background-color: #FF66C4;
    justify-content: center;
    align-items: center;
    height: 70em;
    display: flex;
    padding-top: 20em;
    padding-bottom: 20em; }
    main #about-us .container {
      justify-content: center; }
      main #about-us .container div:first-child {
        background-color: #562135;
        color: #FFF;
        width: 40.5em;
        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 2em; }
        main #about-us .container div:first-child div:first-child {
          height: 20em; }
        main #about-us .container div:first-child img {
          width: 25em; }
        main #about-us .container div:first-child p {
          font-weight: bold; }
      main #about-us .container .conan {
        display: none; }
  main #features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    padding-top: 10em;
    padding-bottom: 10em;
    height: fit-content; }
    main #features .container {
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: start; }
      main #features .container article {
        display: flex;
        margin-bottom: 10em; }
        main #features .container article img {
          width: 39em;
          height: 32em;
          border: 1px solid #000; }
    main #features button {
      align-self: center; }
  main #form-contact {
    height: 80em; }
    main #form-contact .container {
      width: auto;
      padding: 5em; } }

@media all and (min-device-width: 1281px) {
  main #hero {
    width: auto;
    background-color: #32F4FF;
    height: 60em;
    display: flex;
    justify-content: center;
    align-items: center; }
    main #hero .container {
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      main #hero .container .intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        main #hero .container .intro h1 {
          margin-bottom: 0.2em; }
        main #hero .container .intro p {
          margin-bottom: 2em; }
  main #about-us {
    background-color: #FF66C4;
    justify-content: center;
    align-items: center;
    height: 70em;
    display: flex;
    padding-top: 20em;
    padding-bottom: 20em; }
    main #about-us .container {
      justify-content: center; }
      main #about-us .container div:first-child {
        background-color: #562135;
        color: #FFF;
        width: 40.5em;
        height: 50em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding: 2em; }
        main #about-us .container div:first-child div:first-child {
          height: 20em; }
        main #about-us .container div:first-child img {
          width: 25em; }
        main #about-us .container div:first-child p {
          font-weight: bold; }
  main #features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    padding-top: 10em;
    padding-bottom: 10em;
    height: fit-content; }
    main #features .container {
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: start; }
      main #features .container article {
        display: flex;
        margin-bottom: 10em; }
        main #features .container article img {
          width: 39em;
          height: 32em;
          border: 1px solid #000; }
    main #features button {
      align-self: center; }
  main #form-contact {
    height: 80em; }
    main #form-contact .container {
      width: auto;
      padding: 5em; } }

.cta-button {
  width: 15em;
  height: 4em;
  border: none;
  font-size: 1.5em;
  font-weight: bold; }
  .cta-button--white {
    background-color: #FFF; }
  .cta-button--pink {
    background-color: #FF66C4;
    color: #FFF; }

@media screen and (max-device-width: 1280px) {
  #menu-button {
    z-index: 10;
    border: none;
    background-color: #FFF; }
  #menu-button::before {
    content: "";
    display: block;
    width: 5em;
    height: 30px;
    background-image: url("../img/Front/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer; } }

@media screen and (min-device-width: 1281px) {
  #menu-button {
    display: none; } }

form .ipt-form-entry {
  /*  outline: none; */
  display: block;
  width: 100%;
  padding: 0.7em; }

form input[type=textarea] {
  word-wrap: break-word;
  height: 8em; }
