.paragraph{
	color:#000000;
	font-family:Cambria;
	 Cochin;
	 Georgia;
	 Times;
	 'Times New Roman';
	 serif
}
.titre{
	color:#ff66c4;
	font-family:Verdana;
	 Geneva;
	 Tahoma;
	 sans-serif
}
.body{
	background-color:#ffffff
}
.nav{
	color:#ffffff
}
.header{
	background-color:#0F056B
}
.footer{
	background-color:#0F056B}
