.paragraph{
	color:#000000;
	font-family:Cambria
}
.titre{
	color:#ff66c4;
	font-family:Verdana
}
.body{
	background-color:#F4F4F4
}
.nav{
	color:#ffffff
}
.header{
	background-color:#0F056B
}
.footer{
	background-color:#0F056B}