.paragraph{
	color:#F7F6CF;
	font-family:Verdana
}
.titre{
	color:#F4CFDF;
	font-family:'Courier New'
}
.body{
	background-color:#5784BA
}
.nav{
	color:#000000
}
.header{
	background-color:#B6D8F2
}
.footer{
	background-color: #B6D8F2}

