.paragraph{
	color:#606e8b;
	font-family:impact
}
.titre{
	color:#5a5745;
	font-family:arial
}
.body{
	background-color:#ffef8e
}
.nav{
	color:#000000
}
.header{
	background-color:#ffffff
}
.footer{
	background-color:#ffffff}