.paragraph{
	color:#f4cfdf;
	font-family:Verdana;
	 Geneva;
	 Tahoma;
	 sans-serif
}
.titre{
	color:#3d3846;
	font-family:'Courier New';
	 Courier;
	 monospace
}
.body{
	background-color:#5784ba
}
.nav{
	color:#000000
}
.header{
	background-color:#b6d8f2
}
.footer{
	background-color:#b6d8f2}