.paragraph{
	color:#1f2024;
	font-family:impact
}
.titre{
	color:#00d0ff;
	font-family:arial
}
.body{
	background-color:#00c8ff
}
.nav{
	color:#000000
}
.header{
	background-color:#790303
}
.footer{
	background-color:#790000}