.paragraph{
	color:#f4cfdf;
	font-family:arial
}
.titre{
	color:#f7f6cf;
	font-family:cambria
}
.body{
	background-color:#5784ba
}
.nav{
	color:#000000
}
.header{
	background-color:#b6d8f2
}
.footer{
	background-color:#b6d8f2}