.containercom {
    position: absolute;
    left: 275px;
    width: calc(100% - 275px);
  }
  
  .tittle {
    text-align: center;
    padding: 2vh 0;
    font-weight: 700;
    display: block;
  }
  
  .boutton {
    padding: 5vh 0;
    display: block;
    text-align: center;
  }
  body {
    background-color: #ece9ff;
  }
  .boutton .button {
    background-color: white;
    margin: 0 6%;
    padding: 2vh 0;
    width: 20%;
    border: none;
  }
  
  .comments {
    height: 80vh;
    padding-top: 1vh;
    padding-left: 6vw;
    padding-right: 6vw;
    word-break: break-word;
    display: block;
  
  }
  
  .bloque {
    background-color: white;
    padding: 2vh 2vh;
    width: 100%;
    margin-bottom: 30px;
  }
  
  /*Modal */
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contente {
    background-color: #ece9ff;
  
    border: 1px solid #888;
    position: absolute;
    width: 30%;
    height: fit-content;
    background: #c3b3db;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
  }
  
  .modal-header {
    position: relative;
    transform: translateX(-50%);
  }
  
  .modal-button {
    position: relative;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 45%;
    top: 0%;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-button-filter{
      background-color: white;
    margin: 1vh auto;
    padding: 1vh 0;
    width: 30%;
    border: none;
  
  }
  .filter-content-genre{
      display: flex;
      flex-wrap: wrap;
      margin: 0px auto;
      width: 50%;
  }
  .filter-content-genre p{
      width: 33%;
      font-weight: 600;
  }
  
  .filter-content-time{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 30%;
  }
  
  
  .filter-content-time button{
   
      margin: 0 5px;
  }
  
  .filter-content-timep{
      display: flex;
      flex-direction: column;
      margin: 0 5vw;
  }
  
  
  .flexv{
      display: flex
  }
  
  .filter-content-timep input{
      width: 100%;
      margin-left: 5%;
  }
  .modal-button-but{
      margin-top: 3vh;
      display: flex;
      justify-content: space-between;
  }
  
  .button_style{
      background-color: transparent;
      padding: 0 3vw;
      border: none;
  }
  
  /*Petit ecran*/
  @media screen and (max-width: 855px) {
      #main-component {
      margin-top: 4em;
      margin-left: 0;
      }
      #header-sidebar{
      left: -275px;
    }
      #header-topbar{
      visibility: visible
    }
    .containercom {
      position: absolute;
      left: 150px;
      width: calc(100% - 275px);
    }
    .comments {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      word-break: break-word;
      display: block;
  
  }
  .tittle {
  
      display: none;
  }
  .boutton {
      display: flex;
      padding: 2vh 0;
      justify-content: space-between;
  
  }
  .boutton .button {
      background-color: white;
      margin: 0 0;
      padding: 1vh 0vw;
      width: 20%;
      border-radius: 50px;
  }   
  .container-header {
      overflow:hidden;
  } 
  .containercom {
      position: absolute;
      left: 0 !important;
      width: 100% !important;
      padding: 0 5% !important;
  
  }
    
    }