@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Inter ;
}

main{
  background-color: #ECE9FF;
}

.container{
  overflow: auto;
  margin: auto;
  width: 90%;
}

a:not([href]){
  pointer-events: none;
}

/*   HEADER   */

#header-sidebar {
  background-color: #cdc5f9;
  width: 275px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

#header-sidebar nav a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-weight : 5px;
}

#header-sidebar nav a:hover{
  color: white;
}

#header-topbar {
  visibility: hidden;
  background-color: #cdc5f9;
  z-index: 10;
  width: 100vw;
  height: 4em;
  position: fixed;
  top: 0;
}

#header-topbar-content{
  display: flex;
  align-items: center;
  margin: 0;
  height: 4em;
}

#menu-button{
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#header-topbar p{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

#logo-site{
  right: 10px;
  line-height: 0;
}

#profil{
  display: flex;
  margin: auto;
}

#profil img{
  margin-right: 10px;
  width: 100px;
  height: 90px;
  border-radius: 50%;
}

#dropdown{
  width: 100%;
  height: 2em;
  font-size: 1em;
  text-align: center;
  margin-top: 10%;
}

nav ul{
  padding: 0;
  display: block;
  flex-direction: column;
  list-style: none;
}

nav ul li {
  display: flex;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s;
}

nav ul li a img{
  margin-right: 15px;
  width: 25px;
}

#button-signout{
  position: absolute;
  right: 20px;
}

#btn-close{
  margin-left: 0;
  margin-top: 20px;
  position: absolute;
}


/*   MAIN COMPONENT   */

#main-component{
  height: 100vh;
  padding: 20px;
  margin-left: 275px;
}

/*Grand ecran*/
@media screen and (min-width: 856px) {
  #header-sidebar{
    left: 0px !important;
    width: 275px;
    transition: 0s !important;
  }
  #header-topbar{
    visibility: hidden;
  }
  #btn-close{
    opacity: 0;
  }
} 
/*Petit ecran*/
@media screen and (max-width: 855px) {
  #main-component {
  margin-top: 4em;
  margin-left: 0;
  }
  #header-sidebar{
  left: -275px;
}
  #header-topbar{
  visibility: visible
}
}

@media screen and (max-height: 830px ) {
  #header-sidebar nav li{
    color: blue;
    padding-bottom : 22px;
    font-size : 17px;                                          
  }

}                                                        

@media screen and (max-height: 730px ) {
  #header-sidebar nav li{
    color: blue;
    padding-bottom : 15px;
    font-size : 13px;                                          
  }

}

@media screen and (max-height: 630px ) {
  #header-sidebar nav li{
    color: blue;
    padding-bottom : 11px;
    font-size : 11px;                                          
  }
  #profil{
    display : none;
  }
}

@media screen and (max-height: 530px ) {
  #header-sidebar nav li{
    color: blue;
    padding-bottom : 9px;
    font-size : 9px;                                          
  }

}